@import "../../../../../../../styles.scss";

$square-width: 110px;

.new-post-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: $border-radius;
  background-color: rgb(238, 182, 255);

  .new-post-title {
    border-radius: $border-radius $border-radius 0px 0px;
    padding: 10px 15px 10px 15px;

    .profile-icon {
      cursor: pointer;
      border-radius: 50%;
      width: 45px;
    }

    .form-control {
      max-width: 540px;
      height: 45px;
      border-radius: 20px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .add-photo-icon,
    .add-status-icon {
      width: 30px;
      cursor: pointer;
      margin-left: 1px;
    }
  }

  .new-post-content {
    border-radius: 0px 0px $border-radius $border-radius;
    padding: 0px 10px 10px 10px;

    .text-container {
      margin-bottom: 10px;

      .text {
        border-radius: $border-radius;
        resize: none;
        border: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .tags-container {
      flex-wrap: wrap;

      .add-tag-container {
        .form-control {
          max-width: 200px;
          height: 45px;
          border-radius: $border-radius 0px 0px $border-radius;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .add-tag-btn {
          width: 50px;
          height: 45px;
          border: none;
          background-color: rgb(217, 91, 255);
          border-radius: 0px $border-radius $border-radius 0px;
          margin-right: 5px;
        }
      }

      .tag {
        position: relative;
        height: 45px;
        padding: 5px 15px;
        color: rgb(255, 255, 255);
        background-color: rgba(249, 39, 249, 1);
        border-radius: $border-radius;
        margin: 0px 5px 10px 5px;
        display: inline-flex;
        align-items: center;
        transition: background-color 0.2s ease;

        &:hover {
          cursor: pointer;
          opacity: 0.2;

          .delete-icon {
            display: block;
          }
        }

        .delete-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: rgb(0, 0, 0);
          display: none;
          cursor: pointer;
        }
      }
    }

    .photos-container {
      margin-top: 10px;
      flex-wrap: wrap;
      gap: 12px;

      .photo-wrapper {
        position: relative;
        cursor: pointer;

        &:hover {
          .photo {
            transform: scale(1.05);
            opacity: 0.2;
          }

          .delete-icon {
            display: block;
          }
        }

        .photo {
          border: 1px solid $light-gray;
          object-fit: contain;
          border-radius: $border-radius;
          width: $square-width;
          aspect-ratio: 1/1;
          transition: transform 0.3s ease;
        }

        .delete-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $light-purple;
          display: none;
        }
      }

      .add-photo-btn {
        width: $square-width;
        aspect-ratio: 1/1;
        border-radius: $border-radius;
      }
    }

    .custom-file-label {
      width: $square-width;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.3s ease;
      background-color: transparent;
      border-radius: $border-radius;
      border: 2px dashed $light-gray;

      &:hover {
        transform: scale(1.05);
        background-color: rgba($light-gray, 0.25);
      }

      .plus-icon {
        width: 40px;
        aspect-ratio: 1/1;
        opacity: 0.7;
        transition: opacity 0.3s ease;
      }
    }
  }
}
