<form class="new-post-container" [formGroup]="newPostFormGroup()!" (ngSubmit)="onSubmit()">
  <div class="new-post-title d-flex align-items-center justify-content-between">
    <img
      class="profile-icon"
      src="./assets/images/image.png"
      alt="profile image"
    />

    <input
      class="title form-control"
      type="text"
      [placeholder]="!this.newPostState.isCreatingNewPost ? 'Make a new post...' : 'Title...'"
      (click)="startCreatingNewPost()"
      [ngStyle]="{ 'max-width': this.newPostState.isCreatingNewPost ? '605px' : '580px' }"
      formControlName="title"
    />

    <img
      class="add-photo-icon"
      src="./assets/icons/add-image.svg"
      alt="add image icon"
      (click)="startCreatingNewPost(); triggerFileInput()"
      [ngClass]="{ 'd-none': this.newPostState.isCreatingNewPost }"
    />

    <div class="status-container position-relative">
      @if(this.newPostState.currentStatus === ''){
      <img
        class="add-status-icon"
        src="./assets/icons/happy.svg"
        alt="add status on the post icon"
        (click)="toggleStatusPicker()"
      />
      } @else {
      <span class="add-status-icon fs-4" (click)="toggleStatusPicker()">
        {{ this.newPostState.currentStatus }} </span
      >} @if(this.newPostState.isStatusPickerVisible) {
      <app-status-picker
        class="status-picker-component"
        [isVisible]="this.newPostState.isStatusPickerVisible"
        (close)="onStatusPickerClose($event)"
        (chosenStatus)="onStatusChange($event)"
      />
      }
    </div>
  </div>

  @if(this.newPostState.isCreatingNewPost) {
  <div class="new-post-content">
    <div class="text-container">
      <textarea
        #textArea
        class="text form-control"
        rows="6"
        formControlName="content"
      ></textarea>
    </div>

    <div class="tags-container d-flex" formArrayName="tags">
      <div class="add-tag-container d-flex">
        <input
          #newTag
          class="form-control"
          type="text"
          placeholder="add a tag"
        />
        <button
          class="add-tag-btn"
          (click)="onAddTag(newTag.value); newTag.value = ''"
        >
          <img
            class="add-tag-img"
            src="./assets/icons/plus.svg"
            alt="add tag icon"
          />
        </button>
      </div>

      @for (tag of tags.value; track $index) {
      <span
        class="tag d-flex align-items-center justify-content-center"
        (click)="onRemoveTag($index)"
        >{{ tag }}

        <span class="delete-icon fs-3">✖</span>
      </span>
      }
    </div>

    @if(this.newPostState.errorMsgTag != ''){
    <div class="error">{{ this.newPostState.errorMsgTag }}</div>
    }

    <div class="photos-container d-flex" formArrayName="images">
      @for (photo of this.newPostState.imagePreviews; track $index) {

      <div class="photo-wrapper" (click)="onRemoveFile($index)">
        <img class="photo" [src]="photo" alt="photo" />

        <span class="delete-icon fs-3">✖</span>
      </div>
      }

      <input
        #inputFile
        type="file"
        id="file-input"
        class="file-input d-none"
        (change)="onAddFile($event)"
        multiple
      />

      <label for="file-input" class="custom-file-label">
        <img src="assets/icons/plus.svg" alt="Add Photo" class="plus-icon" />
      </label>
    </div>

    @if(this.newPostState.errorMsgPhoto != ''){
    <div class="error">{{ this.newPostState.errorMsgPhoto }}</div>
    }

    <div class="btn-container d-flex justify-content-center">
      <button type="submit" class="btn">Post</button>
    </div>
  </div>
  }
</form>
