<div class="container p-0">
    <div class="row">
        <div class="chat-container d-flex flex-column">
            <div class="header d-flex justify-content-end gap-1">
                <img class="minimize-icon" src="assets/icons/minimize.svg" alt="minimize icon" />
                <img class="close-icon" src="assets/icons/close25px.svg" alt="close icon" (click)="closeChat()"/>
            </div>
            
            <div class="main">
                
            </div>
            
            <div class="footer d-flex gap-2">
                <input class="form-control" type="text">
                <img src="assets/icons/star.svg" alt="star icon" />
            </div>
        </div>
    </div>
</div>