<div class="user-card-container d-flex justify-content-between align-items-center" (click)="onClick()">
    <div class="d-flex gap-3 align-items-center">
        <img class="image" [src]="profileImg()" alt="profile image">
        
        <div class="d-flex flex-column">
            <span>
                {{fullName()}}
            </span>
            
            <span>
                {{'@' + username()}}
            </span>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn px-4" (click)="onAdd()">Add friend</button>
    </div>
</div>