<div class="container">
    <div class="row">
        <div class="d-flex flex-column align-items-lg-start align-items-center login-container p-0">
            <div class="d-flex flex-column content-container">
                <h1>Social Edge</h1>

                <div class="d-flex align-items-center justify-content-center  google-auth-container">
                    <img src="./assets/icons/google.svg" alt="">

                    <a>
                        Log in with Google
                    </a>
                </div>

                <p class="or-text">or</p>

                <app-login-form />
            </div>

            <p class="no-acc-text">Don't have an account yet?
                <a [routerLink]="['/register']" class="sign-up">Sign up</a>
                now to join our community
            </p>
        </div>
    </div>
</div>