h1 {
  margin-bottom: 40px;

  font-size: 56px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-style: normal;
}

.login-container {
  .content-container {
    margin-left: 85px;
    text-align: center;
    max-width: 360px;
    width: 100%;

    .google-auth-container {
      height: 45px;
      border-radius: 11px;
      margin-bottom: 40px;
      background-color: rgb(255, 255, 255);
    }

    .or-text {
      margin-bottom: 40px;
    }

  }
  
  .no-acc-text {
    margin-top: 40px;
    margin-left: 42.5px;
    margin-bottom: 0px;

    .sign-up {
      font-weight: bold;
      text-decoration: none;
      color: rgb(50, 19, 174);
    }
  }
}

@media screen and (max-width: 992px) {
  .login-container {
    .content-container {
      padding: 30px;
      margin-left: 0px;
    }

    .no-acc-text {
      text-align: center;
      margin-left: 0px;
      margin-bottom: 40px;
    }
  }
}
