<div class="information-card-container">
  <app-info-card
    [alt]="'Location'"
    [imgSrc]="'assets/icons/profile-page/user-information/location.svg'"
    [userInfo]="userInfo.currLocation"
  />

  <app-info-card-arr
    [alt]="'Graduation'"
    [imgSrc]="'assets/icons/profile-page/user-information/graduated.svg'"
    [userInfo]="userInfo.studied"
  />

  <app-info-card-arr
    [alt]="'Job'"
    [imgSrc]="'assets/icons/profile-page/user-information/job.svg'"
    [userInfo]="userInfo.worksIn"
  />

  <app-info-card
    [alt]="'Relationship'"
    [imgSrc]="'assets/icons/profile-page/user-information/heart.svg'"
    [userInfo]="userInfo.relationship"
  />

  <app-info-card
    [alt]="'Phone'"
    [imgSrc]="'assets/icons/profile-page/user-information/phone.svg'"
    [userInfo]="userInfo.phoneNumber"
  />
</div>
