@import "../../../../../../../../../styles.scss";

.information-card-container {
  background-color: $post-light-color;
  border-radius: $border-radius;
  background-color: $light-gray;
  padding: 11px;
  max-width: 550px;
  margin: 50px auto;
}
