@import "../../../../../../styles.scss";

.form {
  .form-control {
    height: 55px;
    border-radius: 11px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .error-message {
    border-radius: $border-radius;
    color: white;
    padding: 11px;
  }

  .identifier {
    margin-bottom: 25px;
  }

  .form-check-label {
    border: 1px ;

    cursor: pointer;
    .form-check-input {
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .forgot-password {
    color: rgb(34, 17, 230);
    text-decoration: none;
  }

  .btn {
    margin-top: 40px;
    height: 55px;
    background-color: $primary-purple;
    color: rgb(255, 255, 255);
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s;

    &:hover {
      background-color: $dark-purple;
    }
  }
}
