<form class="d-flex flex-column form">
    <input class="form-control" type="text" placeholder="Email or username">

    <input class="form-control" type="password" placeholder="Password">

    <div class="d-flex justify-content-between">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="myCheckbox"> Remember Me
        </label>

        <a class="forgot-password">
            Forgot password?
        </a>
    </div>

    <button class="btn" type="submit">Login</button>
</form>