@import "../../../../../../styles.scss";

.form {
  .form-control {
    height: 45px;
    border-radius: 11px;
    margin-bottom: 40px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .form-check-label {
    cursor: pointer;
    .form-check-input {
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .forgot-password {
    color: rgb(34, 17, 230);
    text-decoration: none;
  }

  .btn {
    margin-top: 40px;
    height: 45px;
    background-color: $primary-purple;
    color: rgb(255, 255, 255);
    border-radius: 11px;
  }
}
