.status-picker-container {
  max-height: 600px;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding: 10px;
  clip-path: inset(0 0 0 0 round 11px);

  .statuses-container {
    display: flex;
    flex-wrap: wrap;

    .status-container {
      cursor: pointer;
      border-radius: 11px;
      margin: 5px;
      padding: 5px;

      &:hover {
        background-color: rgb(180, 180, 180);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .status-picker-container {
    max-height: 300px;
    width: 100%;
  }
}
