<div class="profile-container d-flex align-items-center" (click)="navToProfilePage()">
    <img class="profile-image" src="./assets/images/image.png" alt="profile image" (click)="onImageClick()">

    <div class="d-none d-md-flex flex-column">
        <p class="email mb-0">{{email}}</p>

        <p class="username mb-0">{{username}}</p>
    </div>

    <img class="d-none d-md-block arrow-img" src="./assets/icons/arrow-up.svg" alt="arrow up" [ngClass]="{'rotated': isArrowRotated}"
        (click)="toggleArrow()">
</div>