.search-bar-container {
  position: relative;
  max-width: 550px;

  .form-control {
    width: 100%;
    border-radius: 30px;
    height: 40px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .search-icon {
    cursor: pointer;
    width: 25px;
    position: absolute;
    right: 15px;
  }
}
