@import "../../../../../styles.scss";

.container-fluid {
  .content {
    padding: 0px;
    display: flex;

    .general {
      max-width: 740px;
      width: 100%;
      margin: 50px auto;
    }

    .left,
    .right {
      position: fixed;
    }

    .left {
      left: 0px;
    }
    .right {
      right: 0px;

      .chat-heads {
        position: absolute;
        top: calc(100svh - 270px);
        right: 20px;
        z-index: 100;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .container-fluid {
    .content {
      .left,
      .right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    margin-top: 10px;
    .content {
      padding: 0px;
    }
  }
}
