<div class="container-fluid">
  <div class="row">
    <div class="content">
      <div class="left">
        <app-suggested-profiles />
      </div>

      <div class="general">
        <app-new-post
          class="app-new-post"
          [newPostFormGroup]="newPostFormGroup()"
          (creatingNewPost)="onNewPost()"
        />

        @for (post of posts(); track $index) {
        <app-post
          [images]="post.images"
          [likes]="post.likes"
          [title]="post.title"
          [text]="post.text"
          [username]="post.author.username"
          [tags]="post.tags"
          [postId]="post._id"
        />
        }
      </div>

      <div class="right">
        <app-friend-list
          class="friend-list"
          [friends]="this.state.friends"
          (open)="onUserProfileClick($event)"
        />
        <app-chat-heads
          class="chat-heads"
          [currentChatHeads]="this.state.currentChatHeads"
          (open)="onProfileClick($event)"
          (close)="onCloseChatHead($event)"
        />

        @if (this.state.isChatActive) {
        <app-chat class="chat" />
        }
      </div>
    </div>
  </div>
</div>
