<div class="container-fluid">
  <div class="row">
    <div class="content">
      <div class="left">
        <app-suggested-profiles />
      </div>

      <div class="general">
        <app-new-post
          class="app-new-post"
          [newPostFormGroup]="newPostFormGroup()"
        />

        <app-post />
        <!-- @for (item of items; track $index) {} -->
      </div>

      <div class="right">
        <app-friend-list />
        <app-chat-heads class="chat-heads" [currentChatHeads]="this.state.currentChatHeads" (close)="onCloseChatHead($event)"/>
      </div>
    </div>
  </div>
</div>
