@import "../../../../../styles.scss";

.container-fluid {
  .content {
    padding: 0px;
    display: flex;

    .general {
      max-width: 740px;
      width: 100%;
      margin: 50px auto;
    }

    .left,
    .right {
      position: fixed;
    }

    .left {
      left: 0px;
    }
    .right {
      right: 0px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 10px;
    .content {
      padding: 0px;
    }
  }
}
