.image-container {
  margin-left: 85px;

  img {
    margin-bottom: 5%;
    border-radius: 11px;
    width: 300px;
  }

  .slogan {
    font-size: 26px;
    font-family: 'Roboto', 'sans-serif';
  }
}

@media screen and (max-width: 1400px) {
  .image-container {
    img {
      width: 250px;
    }
  }
}
