@import "../../../styles.scss";

.container-fluid {
  .content-container {
    background: $gradient;
    height: 100svh;
  }
}

@media screen and (max-width: 576px) {
  .container-fluid {
    .content-container {
      .col-xl-6 {
        margin-top: 0%;
      }
    }
  }
}
