.container-fluid {
  height: 100svh;
  background: linear-gradient(
    135deg,
    #89f6fe8d 20%,
    #66a6ff63 50%,
    #fbc2ebbf 100%
  );

  .left-side {
    margin-top: 250px;
  }
  
  .right-side {
    margin-top: 185px;
  }
}

@media screen and (max-width: 576px) {
  .container-fluid {
    .col-lg-6 {
      margin-top: 0%;
    }
  }
}
