@import "../../../styles.scss";

h1 {
  margin-bottom: 44px;
}

select {
  cursor: pointer;
  outline: none;
}

.container-fluid {
  height: 100svh;
  background: linear-gradient(
    135deg,
    #89f6fe8d 20%,
    #66a6ff63 50%,
    #fbc2ebbf 100%
  );

  .content {
    margin-top: 150px;
    
    .form {
      max-width: 542px;
      width: 100%;

      .form-control {
        height: 55px;
        border-radius: 11px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .semi-width-control {
        max-width: 260px;
        width: 100%;
      }

      .full-width-control {
        max-width: 542px;
      }

      .dropdown {
        width: 80px;
        height: 55px;
        border-radius: 11px;
        text-align: center;
        border-color: $light-gray;
      }

      .btn {
        max-width: 260px;
        height: 55px;
        border-radius: 11px;
        width: 100%;

        color: rgb(255, 255, 255);
        background-color: $primary-purple;
      }

      .has-acc-text {
        font-weight: bold;
        text-decoration: none;
        color: $primary-purple;
      }

      .invalid-message {
        color: rgb(220, 0, 0);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 10%;

    .form {
      .semi,
      .btn {
        max-width: 542px;
      }

      .dropdown {
        width: 174px;
      }
    }
  }
}
