<main class="container-fluid">
  <div class="row">
    <div
      class="d-flex flex-column align-items-center justify-content-center content"
    >
      <h1>Create an new account</h1>

      <app-google-btn class="google-btn" />

      <p class="or-text fw-bold">or</p>

      <form
        class="form"
        [formGroup]="registerFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <div
          class="d-flex flex-md-row flex-column mb-22px gap-22px"
          formGroupName="name"
        >
          <input
            class="form-control semi-width-control"
            type="text"
            placeholder="First name*"
            formControlName="firstName"
          />

          <input
            class="form-control semi-width-control"
            type="text"
            placeholder="Last name*"
            formControlName="lastName"
          />
        </div>

        <div
          class="d-flex flex-md-row flex-column gap-22px"
          [class.mb-22px]="!isUsernameExists"
        >
          <div class="username-input-container d-flex flex-column align-items-center">
            <input
              class="form-control semi-width-control"
              type="text"
              placeholder="Username*"
              formControlName="username"
            />

            @if (isUsernameExists) {
            <div class="invalid-message mb-22px">
              Username is already taken!
            </div>
            }
          </div>

          <div class="d-flex flex-column align-items-center">
            <div class="d-flex gap-10px" formGroupName="birthday">
              <select
                class="dropdown"
                id="day"
                name="day"
                formControlName="day"
              >
                @for (day of getDaysInMonth(); track $index) {
                <option [value]="day">{{ day }}</option>
                }
              </select>

              <select
                class="dropdown"
                id="month"
                name="month"
                (change)="onMonthChange()"
                formControlName="month"
              >
                @for (month of months; track $index) {
                <option [value]="$index">{{ month | shortenMonth }}</option>
                }
              </select>

              <select
                class="dropdown"
                id="year"
                name="year"
                (change)="onYearChange()"
                formControlName="year"
              >
                @for (year of years; track $index) {
                <option [value]="year">{{ year }}</option>
                }
              </select>
            </div>

            @if (!isDateValid) {
            <div class="invalid-message">The date is not valid!</div>
            }

            @if (isUserYounger) {
            <div class="invalid-message">You are too young!</div>
            }
          </div>
        </div>

        <input
          class="form-control full-width-control"
          type="email"
          placeholder="Email address*"
          formControlName="email"
          [class.mb-22px]="!isEmailValid && !isEmailExists"
        />

        @if (isEmailValid) {
        <div class="invalid-message mb-22px">Please enter a valid email!</div>
        } @if (isEmailExists) {
        <div class="invalid-message mb-22px">Email is already used!</div>
        }

        <div formGroupName="passwords">
          <input
            class="form-control mb-22px full-width-control"
            type="password"
            placeholder="Password*"
            formControlName="password"
          />

          <input
            class="form-control mb-22px full-width-control"
            type="password"
            placeholder="Confirm password*"
            formControlName="confirmPassword"
          />

          @if (isConfirmPassValid) {
          <div class="invalid-message mb-22px">
            Invalid Password. Please enter password with 8 characters and
            include at least one uppercase letter, one number, and one special
            character
          </div>
          }
        </div>

        <div
          class="d-flex flex-column align-items-center justify-content-center gap-22px"
        >
          <button class="btn" type="submit">Register</button>

          <a [routerLink]="['/login']" class="has-acc-text"
            >Already have an account?</a
          >
        </div>
      </form>
    </div>
  </div>
</main>
