<div class="container">
  <div class="row">
    <div class="content">
      <div class="profile-icons-container d-flex flex-column-reverse gap-3">
        @for (item of currentChatHeads(); track $index) {

        <div class="profile-icon-container">
          <img
            class="profile-icon"
            src="assets/images/image.png"
            alt="profile-icon"
            (click)="onProfileClick($index)"
          />

          <span class="close-icon" (click)="onClose($index)">
            {{ $index }}
            <img src="assets/icons/close.svg" alt="close-icon" />
          </span>
        </div>
        }
      </div>
    </div>
  </div>
</div>
