@import "../../../../../../../styles.scss";

.search-bar-container {
  position: relative;
  max-width: 600px;
  padding-left: 7px;

  .search-icon {
    position: absolute;
    left: 22px;
    width: 25px;
  }

  .form-control {
    width: 100%;
    border-radius: 25px;
    height: 40px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &:focus-within .search-icon {
    display: none;
  }
}
