<div class="post-container">
  <div class="header d-flex align-items-center justify-content-between">
    <div class="d-flex gap-10px">
      <div class="profile-icon-container">
        <img class="icon" src="assets/images/image.png" alt="" />
      </div>

      <span class="username-container"> {{ username() }} </span>
    </div>

    <div class="options-container">
      <img class="icon" src="assets/icons/more.svg" alt="" />
    </div>
  </div>

  @if(title()) {
  <div class="title">
    <h5>
      {{ title() }}
    </h5>
  </div>
  } 
  
  @if(text()) {
  <div class="text">
    <p>
      {{ text() }}
    </p>
  </div>
  }

  @if(tags().length > 0) {
    <div class="tags-container">
      @for (tag of tags(); track $index) {
      <span class="tag"> {{ tag }}</span>
      }
    </div>
  }

  @if(images().length > 0) {
  <div class="images-container">
    @for (image of images(); track $index) {
    <img
      class="image"
      [src]="image.src"
      [alt]="'Image ' + $index"
      [ngClass]="{
        active: currentImageIndex === $index,
        prev: currentImageIndex - 1 === $index,
        next: currentImageIndex + 1 === $index
      }"
    />
    } @if(this.currentImageIndex > 0) {
    <div class="arrow-container left-arrow-container" (click)="prevImage()">
      <img
        class="arrow"
        src="assets/icons/arrow-up.svg"
        alt="Previous"
        style="transform: rotate(-90deg)"
      />
    </div>
    } @if (images().length > 1) { @if (this.currentImageIndex + 1 <=
    this.images().length - 1) {
    <div class="arrow-container right-arrow-container" (click)="nextImage()">
      <img
        class="arrow"
        src="assets/icons/arrow-up.svg"
        alt="Next"
        style="transform: rotate(90deg)"
      />
    </div>
    }

    <div class="dots-container">
      @for (image of images(); track $index) {
      <span
        class="dot"
        [ngClass]="{ active: currentImageIndex === $index }"
        (click)="currentImageIndex = $index"
      ></span>
      }
    </div>
    }
  </div>
  }

  <div class="interactions-container d-flex justify-content-between mb-1">
    <div class="row">
      <div class="d-flex gap-10px">
        <img class="interaction-icon" src="assets/icons/sparkle.png" alt="" />
        <img
          class="interaction-icon"
          src="assets/icons/comment-black.svg"
          (click)="toggleComments()"
          alt=""
        />
        <img
          class="interaction-icon"
          src="assets/icons/share-arrow.svg"
          alt=""
        />
      </div>
    </div>

    <div>
      <img
        class="interaction-icon"
        src="assets/icons/bookmark-outlined.svg"
        alt=""
      />
    </div>
  </div>

  <div class="row">
    <div class="d-flex gap-10px">
      <span class="fw-bold">{{ likes() }} likes</span>
    </div>
  </div>

  @if(isCommentsClicked) {
  <div class="add-comment-container d-flex gap-10px">
    <div class="profile-icon-container">
      <img class="icon" src="assets/images/image.png" alt="" />
    </div>
    <input class="form-control" type="text" placeholder="Add a comment..." />
  </div>
  <div class="comments-container"></div>
  }
</div>
