<div class="post-container">
  <div class="header d-flex align-items-center justify-content-between">
    <div class="d-flex gap-10px">
      <div class="profile-icon-container">
        <img class="icon" src="assets/images/image.png" alt="" />
      </div>

      <span class="username-container"> username </span>
    </div>

    <div class="options-container">
      <img class="icon" src="assets/icons/more.svg" alt="" />
    </div>
  </div>

  <div class="text">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </div>

  <div class="images-container">
    <img src="assets/images/image.png" alt="" />
  </div>

  <div class="interactions-container d-flex justify-content-between">
    <div class="d-flex gap-10px">
      <img src="assets/icons/sparkle.png" alt="" />
      <img src="assets/icons/comment-black.svg" alt="" />
      <img src="assets/icons/share-arrow.svg" alt="" />
    </div>

    <div>
      <img src="assets/icons/bookmark-outlined.svg" alt="" />
    </div>
  </div>
</div>
