@import "../../../../../../../styles.scss";

.post-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: $border-radius;
  background-color: rgb(238, 182, 255);
  margin-top: 15px;
  padding: 10px;

  .header {
    margin-bottom: 10px;
    .profile-icon-container {
      .icon {
        width: 45px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }

    .options-container {
      .icon {
        cursor: pointer;
      }
    }
  }

  .images-container {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }
  }
  .interactions-container {
    margin-top: 10px;

    .interaction-icon {
      cursor: pointer;
    }
  }

  .add-comment-container {
    margin-top: 20px;
    .profile-icon-container {
      .icon {
        width: 45px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }

    .form-control {
      width: 100%;
      border-radius: 25px;
      height: 45px;
  
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post-container {
    border-radius: 0px;
  }
}
