@import "../.../../../../../../styles.scss";

.container-fluid {
  position: sticky;
  z-index: 1000;
  top: 0px;

  .shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; // #4
  }

  .container-content {
    background-color: $light-plus-purple;
    height: 90px;
    padding: 5px 20px 5px 20px;

    .logo-container {
      cursor: pointer;

      .logo {
        width: 80px;
      }
    }

    .search-bar {
      margin-left: 20px;
      width: 100%;
    }

    .icons-container {
      position: relative;
      margin-right: 20px;

      .notification-icon {
        width: 50px;
        cursor: pointer;
        border-radius: 50%;
        padding: 10px;

        &:hover {
          background-color: $light-purple;
        }
      }

      .notifications-container {
        position: absolute;
        right: 0px;
      }
    }
  }
}

app-profile {
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    .container-content {
      .search-bar {
        margin-left: 0px;
        width: 100%;
      }

      .icons-container {
        margin-right: 0px;
      }
    }
  }

  app-profile {
    max-width: 50px;
  }
}
