<header class="container-fluid">
    <div class="row">
        <div class="container-content d-flex align-items-center justify-content-center">
            <div class="d-none d-lg-block logo-container">
                <img class="logo" src="./assets/images/Social Edge Logo prod.png" alt="Social Edge Logo image">
            </div>
            
            <app-search-bar class="search-bar" />

            <div class="icons-container">
                <img class="icon" src="./assets/icons/notification.svg" alt="notification image">
            </div>
            <app-profile />
        </div>
    </div>
</header>