@use '../../../../../../../../styles.scss' as styles;


.search-container {
    max-width: 600px;
    margin: 50px auto;

    .profile-cards-container {
    }
  }
  
  @media screen and (max-width: 768px) {
    .search-container {
      border-top: 2px solid black;
      margin: 0px auto;
    }
  }
  