/* You can add global styles to this file, and also import other style files */

$primary-purple: rgb(166, 78, 255);

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.m-22px {
  margin: 22px;
}

.mt-22px {
  margin-top: 22px;
}

.ms-22px {
  margin-left: 22px;
}

.me-22px {
  margin-right: 22px;
}

.mb-22px {
  margin-bottom: 22px;
}

.gap-10px {
  gap: 10px;
}

.gap-22px {
  gap: 22px;
}
