/* You can add global styles to this file, and also import other style files */

$primary-purple: rgb(166, 78, 255);
$dark-purple: rgb(143, 30, 255);
$light-purple: rgba(183, 111, 255, 0.9);
//$light-purple: rgb(183, 111, 255);
$light-gray: rgb(222, 226, 230);

$gradient: linear-gradient(
  135deg,
  #89f6fe8d 10%,
  hsla(215, 100%, 70%, 0.4) 50%,
  #ffaee8 100%
);

$gradient-2: linear-gradient(
  180deg,
  hsla(286, 100%, 80%, 1) 50%,
  hsla(320, 100%, 50%, 1) 100%
);

$border-radius: 11px;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.m-22px {
  margin: 22px;
}

.mt-22px {
  margin-top: 22px;
}

.ms-22px {
  margin-left: 22px;
}

.me-22px {
  margin-right: 22px;
}

.mb-22px {
  margin-bottom: 22px;
}

.gap-10px {
  gap: 10px;
}

.gap-22px {
  gap: 22px;
}
