<nav class="navigation-container mt-5">
  <div class="row">
    <ul class="list-unstyled d-flex flex-column gap-2">
      @for (item of navItems; track $index) {
      <li
        class="option"
        [ngClass]="{ 'selected-option': selectedOption === item }"
        (click)="selectOption(item.label)"
      >
        @if(selectedOption === item) {
        <div class="selected-option-dash"></div>
        }

        <img [src]="item.icon" [alt]="item.label" />
        <span>{{ item.label }}</span>
      </li>
      }
    </ul>
  </div>
</nav>
